@font-face {
    font-family: "My Custom Font";
    src: url(../resources/gnyrwn971.ttf) format("truetype");
}
.brand-logo {
  font-family: "My Custom Font";
}
#background-header {
  position: absolute;
  z-index: -1;
}
#about-me {
}
nav {

}
#welcome {
  margin-top: 500px;
}
#about-me {
  position: absolute;
  padding-bottom: 50px;
}
