@font-face {
    font-family: "My Custom Font";
    src: url(../resources/gnyrwn971.ttf) format("truetype");
}
.brand-logo {
  font-family: "My Custom Font";
  font-size: 40px;
}
#background-header {
  position: absolute;
  z-index: -1;
}
#cursor {
  animation: blink 1s infinite;
}
@keyframes blink{
  to{opacity: .0;}
}
p {
  white-space: nowrap;
  overflow: hidden;
  animation: type 6s steps(60, end);
}
@keyframes type{
  from { width: 0; }
}
p:nth-child(2){
  animation: type2 8s steps(60, end);
}
@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}
#about-me {
  position: initial;
}
header {
  height: 95vh;
}
@media (max-width: 1900px) {
  header {
    height: 60vh;
  }
}
@media (max-width: 1250px) {
  header {
    height: 30vh;
  }
  #about-me {
    padding-bottom: 30px;
  }
}
@media (max-width: 700px) {
  header {
    height: 15vh;
  }
}

@media (min-width: 600px) {
  #about-me {
    height: 493px;
  }
}
@media (max-width: 992px) {
  #name-title {
    display: none;
  }
  #portfolio-btn {
    display: none;
  }
}


#skills {
  position: initial;
  padding-bottom: 50px;
}
.devicons {
  font-size: 125px;
}
.icon {
  display: inline-block;
  margin-right: 10px
}
#materializecss{
  height: 115px;
}
#my-portfolio {
  padding-top: 25px;
  padding-bottom: 10px;
}
#work {
  padding-bottom: 25px;
}
.projects-span {
  position: absolute;
  top: 25%;
  left: 11%;
  display: none;
  width: 80%
}
#projects-github {
  font-size: 40px;
}
a {
  color: inherit;
}
i {
  font-size: 50px;
}
.contact-icon {
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
}
.contact-name {
  margin-top: -15px;
}


