@font-face {
    font-family: "My Custom Font";
    src: url(../resources/gnyrwn971.ttf) format("truetype");
}
.brand-logo {
  font-family: "My Custom Font";
  font-size: 40px;
}
#background-header {
  position: absolute;
  z-index: -1;
}
#about, #portfolo, #contact {
  font-family: "My Custom Font";
  font-size: 23px;
}
span {
  animation: blink 1s infinite;
}
@keyframes blink{
  to{opacity: .0;}
}
p {
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  animation: type 6s steps(60, end);
}
@keyframes type{
  from { width: 0; }
}
p:nth-child(2){
  animation: type2 8s steps(60, end);
}
@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

#about-me {
  position: absolute;
  padding-bottom: 50px;
}
header {
  height: 90vh;
}
