@-webkit-keyframes pointing {
  0% { top: 80%; }
  40% { top: 81%; }
  100% { top: 80%; }
}
@-moz-keyframes pointing {
  0% { top: 80%; }
  40% { top: 81%; }
  100% { top: 80%; }
}
@-o-keyframes pointing {
  0% { top: 80%; }
  40% { top: 81%; }
  100% { top: 80%; }
}
@keyframes pointing {
  0% { top: 80%; }
  40% { top: 81%; }
  100% { top: 80%; }
}
body {
  margin: 0;
  height: 200vh;
}
.hidden {
  display: none !important;
}
main {
  height: 100vh;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.box1 {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -75px -250px;
  background: rgba(255, 255, 255, .8);
  width: 500px;
  height: 125px;
  text-align: center;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.box1.navBarOn {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background: rgba(255, 255, 255, .5);
  margin: 0;
  width: 100% !important;
  height: 60px !important;
  top: 0;
  left: 0;
}
.box1.navBarOn > .greeting {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 0;
}
.greeting {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin: auto;
  line-height: 125px;
  font-family: monaco;
  font-size: 40px;
  color: #e1e1e1;
}
.navBarElements {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  display: inline-block;
  color: #3b8ec0;
  font-family: monaco;
  line-height: 60px;
  width: 105px;
}
.navBarElements:Hover {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background-color: #e1e1e1;
  width: 160px;
}
.navIcon, .navText {
  display: inline-block;
}
.arrow-container {
  display: block;
  position: relative;
  top: 80%;
  margin: 0 auto 0 auto;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, .5);
  cursor: pointer;
  -webkit-animation: pointing 5s infinite;
  -moz-animation: pointing 5s infinite;
  -o-animation: pointing 5s infinite;
  animation:  pointing 5s infinite;
}
.arrow {
  color: #3b8ec0;
  position: absolute;
  top:50%;
  left: 50%;
  margin: -8px 0 0 -8px;
}
