@-webkit-keyframes pointing {
  0% { top: 80%; }
  40% { top: 81%; }
  100% { top: 80%; }
}
@-moz-keyframes pointing {
  0% { top: 80%; }
  40% { top: 81%; }
  100% { top: 80%; }
}
@-o-keyframes pointing {
  0% { top: 80%; }
  40% { top: 81%; }
  100% { top: 80%; }
}
@keyframes pointing {
  0% { top: 80%; }
  40% { top: 81%; }
  100% { top: 80%; }
}

@-webkit-keyframes makeItPic {
  0% { width: 75px; height: 75px; margin-left: -40px; }
  100% { width: 130px; height: 130px; margin-left: -65px}
}
@-moz-keyframes makeItPic {
  0% { width: 75px; height: 75px; margin-left: -40px; }
  100% { width: 130px; height: 130px; margin-left: -65px}
}
@-o-keyframes makeItPic {
  0% { width: 75px; height: 75px; margin-left: -40px; }
  100% { width: 130px; height: 130px; margin-left: -65px}
}
@keyframes makeItPic {
  0% { width: 75px; height: 75px; margin-left: -40px; }
  100% { width: 130px; height:  130px; margin-left: -65px}
}

@-webkit-keyframes rotateText {
  0% { -webkit-transform: rotateX(0deg); }
  25% { -webkit-transform: rotateX(90deg); }
  50% { -webkit-transform: rotateX(180deg); }
  75% { -webkit-transform: rotateX(270deg); }
  100% { -webkit-transform: rotateX(360deg); }
}
@-moz-keyframes rotateText {
  0% { -moz-transform: rotateX(0deg); }
  25% { -moz-transform: rotateX(90deg); }
  50% { -moz-transform: rotateX(180deg); }
  75% { -moz-transform: rotateX(270deg); }
  100% { -moz-transform: rotateX(360deg); }
  }
@keyframes rotateText {
  0% { transform: rotateX(0deg); }
  25% { transform: rotateX(90deg); }
  50% { transform: rotateX(180deg); }
  75% { transform: rotateX(270deg); }
  100% { transform: rotateX(360deg); }
  }
@-o-keyframes rotateText {
  0% { -o-transform: rotateX(0deg); }
  25% { -o-transform: rotateX(90deg); }
  50% { -o-transform: rotateX(180deg); }
  75% { -o-transform: rotateX(270deg); }
  100% { -o-transform: rotateX(360deg); }
  }
.box1, .box1.navBarOn, .box1.navBarOn > .greeting, .greeting, .navBarElements, .navBarElements:Hover, .navBarElements:Hover > .navText, .pointing:Hover, .pic {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
body {
  margin: 0;
  height: 200vh;
}
.hidden {
  display: none !important;
}
main {
  height: 100vh;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.box1 {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -75px -250px;
  background: rgba(255, 255, 255, .8);
  width: 40%;
  height: 10vw;
  text-align: center;
}
.box1.navBarOn {
  background: rgba(255, 255, 255, .5);
  margin: 0;
  width: 100% !important;
  height: 60px !important;
  top: 0;
  left: 0;
}
.box1.navBarOn > .greeting {
  opacity: 0;
}
.greeting, .text, .navBarElements, .title, .name {
  font-family: monaco;
}
.greeting {
  margin: auto;
  line-height: 195%;
  font-size: 5vw;
  color: #e1e1e1;
}
.name {
  display: inline-block;
  position: absolute;
  color: #3b8ec0;
  float: left;
  left: 10px;
  line-height: 60px;
  font-size: 18px;
}
.navBarElements {
  display: inline-block;
  color: #3b8ec0;
  line-height: 60px;
  width: 105px;
  background-color: transparent;
}
.navBarElements:Hover {
  background-color: #e1e1e1;
  width: 160px;
}
.navIcon {
  display: inline-block;
}
.navText {
  display: none;
  opacity: 0;
}
.navBarElements:Hover > .navText {
  display: inline-block;
  opacity: 1;
  -webkit-animation: rotateText .5s linear;
  -moz-animation: rotateText .5s linear;
  -o-animation: rotateText .5s linear;
  animation:  rotateText .5s linear;
}
.arrow-container {
  display: block;
  position: relative;
  top: 80%;
  margin: 0 auto 0 auto;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, .5);
}
.pointing {
  cursor: pointer;
  -webkit-animation: pointing 5s infinite;
  -moz-animation: pointing 5s infinite;
  -o-animation: pointing 5s infinite;
  animation:  pointing 5s infinite;
}
.pointing:Hover {
  background-color: rgba(94, 94, 94, .5)
}
.arrow {
  color: #3b8ec0;
  position: absolute;
  top:50%;
  left: 50%;
  margin: -8px 0 0 -8px;
}
.arrow-container.stick {
  position: fixed;
  top: 9%;
  left: 50%;
  margin-left: -40px;
}
.pic {
  -webkit-animation: makeItPic .9s linear;
  -moz-animation: makeItPic .9s linear;
  -o-animation: makeItPic .9s linear;
  animation:  makeItPic .9s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.about, .title {
  margin-top: 10vw;
  text-align: center;
  color: #3b8ec0;
}
.text {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(124, 124, 124, .5);
  font-size: 1.3vw;
  padding: 15px;
  color: #ffffff;
  border-radius: 20px;
  text-align: left;
}

@media only screen and (min-width: 1281px) {
  .text {
    font-size: 16px;
  }
  .greeting {
    font-size: 40px;
  }
}
